@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Film Review Website</h1>
    <p class="lead">Film Review Website is a website for ratings and comments.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>MOVIES</h2>
        <p>
            Top Rated
        </p>
        <p>
            Popular
        </p>
        <p>
            User Review
        </p>

    </div>

    <div class="col-md-4">
        <h2>GENRE</h2>
        <p>Action</p>
        <p>Adventure</p>
        <p>Romance</p>
        <p>Comedy</p>
        <p>Drama</p>

    </div>

    <div class="col-md-4">
        <h2>PEOPLE</h2>
        <p>Actor</p>
        <p>Director</p>

    </div>
</div>