@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Film Review Website</h1>
    <p class="lead">Film Review Website is a website for ratings and comments.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Type of moive</h2>
        <p>
            Romance, Horror, Fiction, Drama, Documentary, Action, Comedy, Adventure...
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Year of Movie</h2>
        <p>2019, 2018, 2017, 2016, 2015, 2014...</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Language of movie</h2>
        <p>English, Chinese, French, German... </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>